version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: support_db
    ports:
      - "5432:5432"
  
  vector-db:
    image: chromadb/chroma:latest
    ports:
      - "8000:8000"